<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Exemplo REST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Digite o CEP: </ion-label>
          <ion-input [(ngModel)]="cep"></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-button expand="block" (click)="consultaCEP()">Consultar</ion-button>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Logradouro:</ion-label>
          <p desabled="True">{{endereco.logradouro}}</p>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Cidade:</ion-label>
          <ion-input [ngModel]="endereco.localidade" disabled="True"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Estado:</ion-label>
          <ion-input [ngModel]="endereco.uf" disabled="True"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

  
  </ion-grid>

</ion-content>
